@model IEnumerable<library.Models.BookModel>
@{
    ViewBag.Title = "Доступные книги";
}
<div>
    <h3>Доступные книги</h3>
    <table>
        <tr>
            <td><p>Название книги</p></td>
            <td><p>Описание книги</p></td>
        </tr>
        @foreach (var b in Model)
        {
        <tr>
            <td><p>@b.Name</p> </td>
            <td><p>@b.Description</p> </td>
            <td><a href="/home/buy/@b.Id">Арендовать книгу</a></td>
        </tr>
        }
    </table>
</div>

